#rootOrganizer {
  position: absolute;
  &.modalOpen {
    position: fixed;
  }
  #pageContainer {
    padding: 75px 50px;
    &.mobile {
      padding: 0 5vw 0 5vw;
      left: 0;
      right: 0;
    }
    &.noPadding {
      padding: 0;
    }
  }
}
